<tr id="item_delivery_<%=item_delivery.id%>">
  <td class="item_name"><%=item_delivery.item_name%></td>
  <td class="item_quantity_column"><%=best_in_place item_delivery, :quantity, display_with: :number_with_delimiter%></td>
  <td><%=best_in_place item_delivery, :unit%></td>
  <td><%=best_in_place item_delivery, :date_recieved, type: :date, display_as: :date_received_long%></td>
  <td><%= link_to 'X', item_delivery, method: :delete, data: { confirm: "Delete Delivery '#{item_delivery.item_name} x #{number_with_delimiter item_delivery.quantity} #{item_delivery.unit}'?" }, remote: true, class: "remove_fields" %></td>
</tr>