<tr id="item_delivery_<%=item_delivery.id%>">
  <td class="item_name"><%=item_delivery.item_name%></td>
  <td class="item_quantity_column"><%=number_with_delimiter item_delivery.quantity%></td>
  <td><%=item_delivery.unit%></td>
  <td><%=item_delivery.date_recieved%></td>
  <td><%= link_to 'Delete', item_delivery, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_delivery_item_link" %></td>
</tr>