<%=javascript_tag do %>

$(document).ready(function(){
    setup();
});


<% end %>

<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="top_section">
  <div class="order_date">
    <%= f.label :po_date, "Order Date"%></br>
    <%= f.date_select :po_date, {}, tabindex: -1 %>
  </div>

  <div>
    <%= f.label "Order To:" %><br>
    <%= f.text_field :supplier_name, tabindex: 1, data: {autocomplete_source: supplier_names_path} %>
  </div>


</div>
<div class="middle_section">


  <div class="section contact_details_section">
    <h1>Contact Numbers: </h1>
    
    <%= f.fields_for :phones do |builder| %>
      <%= render 'phones/phone_fields', f: builder%>
    <% end %>
    <%= link_to_add_fields "Add", f, :phones %>
  </div>


  <div class="section contact_person_section">

    <h1>Contact Persons: </h1>
    
    <%= f.fields_for :purchase_order_contacts do |builder| %>
      <%= render 'purchase_order_contact_fields', f: builder%>
    <% end %>
    <%= link_to_add_fields "Add", f, :purchase_order_contacts %>
  </div>

</div>
<div class="bottom_section">
 <div class="items_section">
      <h1>Items</h1>

      <table id="items_input_table">
      <tr>
        <th>Name</th>
        <th><%= f.label :quantity%></th>
        <th><%= f.label :unit%></th>
        <th><%= f.label :price %></th>
        <th><%= f.label :total %></th>
        <th><%= f.label :note %></th>
        <th></th>
      </tr>

        <%= f.fields_for :purchase_items do |builder| %>
          <%= render 'purchase_item_fields', f: builder%>
        <% end %>
      </table>
       <%= link_to_add_fields "Add Item", f, :purchase_items %>

 
  <h2 class="grand_total">Grand Total: <%=f.text_field :grand_total_formatted%></h2>
 
      
 </div>


  
<div class="notes">
    <div id="notes_title">
    <%= f.label :notes %>
    <span class="expand">[+]</span>
    <span class="collapse">[ - ]</span>
    </div>
    <%= f.text_area :notes, tabindex: -1 %>
</div>

  <div class="actions">
    <%= f.submit "Save"%>
  </div>
</div>
<% end %>

<div class="boxed_section small">
  <h5>Keyboard Shortcuts</h5>
  <li>ctrl + alt + p = Add Contact Person</li>
  <li>ctrl + alt + n = Add Contact Numbers</li>
  <li>ctrl + alt + i = Add Item</li>
</div>

