<div class="items_section">
      <table id="purchase_item_table">
      <tr>
        <th>Product Code</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Total</th>
        <th>Notes</th>
        <th class="no-print"></th>

      </tr>

      <% @purchase_order.purchase_items.each do | purchase_item | %>
        <%=render purchase_item %>
      <% end %>
      
      <div class="no-print">
        <tr id="show_new_purchase_item_link_row">
          <td colspan="7">
            <%=link_to 'Add', '', id: 'show_new_purchase_item_link', class: 'add_fields no-print'%>
          </td>
        </tr>
        <%= form_for(@new_purchase_item, remote: true) do |f| %>

            <tr id="new_purchase_item_row">
              <td class="item_name"><%= f.text_field :item_name, data: {autocomplete_source: item_names_path}%></td>
              <td class="item_quantity_column small_number"><%= f.number_field :quantity, min: 1%></td>
              <td class="med_number"><%= f.text_field :unit%></td>
              <td class="item_price_column med_number"><%= f.text_field :price%></td>
              <td class="med_number"><%= f.text_field :total, class: "total_field"%></td>
              <td>

                <%= f.text_field :note%>
                <%= f.hidden_field :purchase_order_id %>
              </td>
              <td>
                <%= f.submit "Add", id: 'add_contact_number_submit' %>
                <%= link_to 'Hide', '', id: "hide_new_purchase_item_link", class:"button_link" %>
              </td>
            </tr>

        <% end %>
      </div>
      <tr>
        <td colspan="7" class="grand_total">
              Grand Total: <span id="grand_total"><%=number_with_delimiter @purchase_order.grand_total%></span>
        </td>
      </tr>
    </table>

</div>