<%=javascript_tag do %>

$(document).ready(function(){

   $('#purchase_order_supplier_name').autocomplete({
    source: $('#purchase_order_supplier_name').data('autocomplete-source'),
    minLength: 2
  });

});
<% end %>

<h1>Purchase Orders</h1>

<table id="po_table">
  <thead>
    <tr>
      <th class="small_column">Order Date</th>
      <th>Supplier</th>
      <th>Total</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_date %></td>
        <td><%= purchase_order.supplier %></td>
        <td class="small_column"><%= purchase_order.grand_total_formatted %></td>
        <td class="description_column"><%= truncate purchase_order.items_description, length: 70 %></td>
        
        <td class="smaller_column"><%= link_to 'Show', purchase_order %></td>
        <td class="smaller_column"><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>
        <td class="smaller_column"><%= link_to 'Delete', purchase_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for(@new_purchase_order) do |f| %>

  <% if @new_purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_purchase_order.errors.count, "error") %> prohibited this Purchase Order from being saved:</h2>

      <ul>
      <% @new_purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>New Purchase Order</h2>
  <div>
    <%= f.label "Order To:" %><%= f.text_field :supplier_name, tabindex: 1, data: {autocomplete_source: supplier_names_path} %>
    <%= f.label "Date: "%><%= f.hidden_field :po_date, tabindex: 2%>
    <%= f.submit "Save"%>
  </div>

<% end %>