<%=javascript_tag do %>

$(document).ready(function(){
    purchaseOrderShowInit();
});

<% end %>

<div class="purcahse_order_show">

<div class="span-22">
<%=link_to image_tag('print.png'), print_purchase_order_path(@purchase_order), :target => "_blank", class: 'print_link'%>
</div>


<div class="span-22"><%=render 'purchase_orders/show/po_details_header'      %></div>
<div class="span-22"><%=render 'purchase_orders/show/contact_details_section'%></div>
<div class="span-22"><%=render 'purchase_orders/show/purchase_item_section'  %></div>
<div class="span-22"><%=render 'purchase_orders/show/po_details_footer'      %></div>
<div class="span-22"><%=render 'purchase_orders/show/item_deliveries_section'%></div>

</div>