<%=javascript_tag do %>

$(document).ready(function(){


   $('#item_delivery_item_name').autocomplete({
    source: $('#item_delivery_item_name').data('autocomplete-source'),
    minLength: 2
  });

  
});

<% end %>

<p id="notice"><%= notice %></p>

<div class="purcahse_order_show">

  <div class="header">

    <%=image_tag "EEGM.png", class: "logo"%> 
    <%=image_tag "ESS.png", class: "logo"%> 

      <div class="float_right">
      #113 (old) J.P. Rizal St., Calumpang, Marikina City, Philippines 1801
      <span class="highlight">ENGSHOESUPPLY@GMAIL.COM</span>
      <span class="highlight">WWW.ENGSHOESUPPLY.COM</span>
      <span class="phone">Tel: 6453017</span>
      <span class="phone">Fax: 6452210</span>
      </div>
  </div>

  <div class="sub_section">
    <div class="float_right">
      <%= @purchase_order.po_date.to_formatted_s(:long) %>
    </div>
    <div>Purchase Order: E.Estanislao General Merchandize</div>
  </div>

  <div class="sub_section">

    <div class="float_right">
      <h2 class="small"> Purchase Order </h2>
      #<%= sprintf '%07d', @purchase_order.id %>
    </div>

    <div>
      <strong>Order To:</strong>
      <h2 class="small emphasize"><%= @purchase_order.supplier %></h2>
    </div>
  </div>

  <div class="contact_details">
      <div class="float_right padd_bottom contact_numbers">
        <strong>Contact Numbers</strong>
        <% @purchase_order.phones.each do | phone | %>
          <li><%=number_to_phone phone.number%></li>
        <% end %>
      </div>

        <div class="contact_persons">
        <strong>Contact Persons:</strong>
          <% @purchase_order.purchase_order_contacts.each do | contact | %>
            <li>
              <%=contact.name%>
            </li>
          <% end %>
        </div>
  </div>

  <div class="items_section">
        <table id="purchase_item_table">
        <tr>
          <th>Product Code</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Price</th>
          <th>Total</th>
          <th>Notes</th>

        </tr>

        <% @purchase_order.purchase_items.each do | purchase_item | %>
            <tr>
              <td class="item_name"><%=purchase_item.item.name%></td>
              <td class="item_quantity_column"><%=number_with_delimiter purchase_item.quantity%></td>
              <td><%=purchase_item.unit%></td>
              <td><%=number_with_delimiter purchase_item.price%></td>
              <td><%=number_with_delimiter purchase_item.total%></td>
              <td class="notes_column"><%=purchase_item.note%></td>
            </tr>
        <% end %>
        
      </table>

      <h2 class="grand_total">Grand Total: <%=number_with_delimiter @purchase_order.grand_total%></h2>

  </div>

    <% unless @purchase_order.notes.empty? %>
    <div class="section">
      <p>
        <strong>Notes:</strong>
        <%= @purchase_order.notes %>
      </p>
    </div>
    <% end %>





    <div class="no-print">
        <h1>Deliveries</h1>

          <%= form_for(@item_delivery) do |f| %>


                <table id="purchase_item_table">
                <tr>
                  <th class="item_name">Product Code</th>
                  <th class="item_quantity_column">Quantity</th>
                  <th>Unit</th>
                  <th>Date Recieved</th>
                  <th></th>
                </tr>

                <% @purchase_order.item_deliveries.each do | item_delivery | %>
                    <tr>
                      <td class="item_name"><%=item_delivery.item_name%></td>
                      <td class="item_quantity_column"><%=number_with_delimiter item_delivery.quantity%></td>
                      <td><%=item_delivery.unit%></td>
                      <td><%=item_delivery.date_recieved%></td>
                      <td><%= link_to 'Delete', item_delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>

                  <tr>
                    <td class="item_name"><%= f.text_field :item_name, data: {autocomplete_source: item_names_path}%></td>
                    <td class="item_quantity_column small_number"><%= f.number_field :quantity, min: 1%></td>
                    <td class="med_number"><%= f.text_field :unit%></td>
                    <td><%= f.datetime_select :date_recieved %></td>
                    <td><%= f.submit "Add" %></td>
                  </tr>
              </table>

              <%= f.hidden_field :purchase_order_id %>
          
          <% end %>
      
    </div>

    <div class="no-print actions">
    <%= link_to 'Edit', edit_purchase_order_path(@purchase_order)%> |
    <%= link_to 'Back', purchase_orders_path%>
    </div>

</div>


