<%=link_to image_tag('print.png'), print_purchase_order_path(@purchase_order), :target => "_blank", class: 'print_link'%>

<%= render 'show'%>
 

    <div id="purchase_order_show_deliveries_section" class="no-print">

          <hr/>
          <%= link_to 'Show Deliveries', '', id: "add_delivery_link", class: "button_link" %>
          <div class="deliveries_section">
             <%= render 'deliveries_form' %>
             <%= link_to 'Hide', '', id: "hide_delivery_section_link", class: "button_link" %>
          </div>
    </div>
</div>

    <div class="no-print actions">
    <%= link_to 'Back To Purchase Orders List', 
          purchase_orders_path%>
    </div>

</div>


