<%= form_for(@system_config) do |f| %>
  <% if @system_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_config.errors.count, "error") %> prohibited this system_config from being saved:</h2>

      <ul>
      <% @system_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value, size: 40 %>
  </div>
  <div>
    <%= f.submit 'Save' %>
  </div>
<% end %>
