<div id="contact_details_section">

<table class="contact_details">
  <tr>

    <td id="contact_numbers" class="padd_bottom contact_numbers wip">
      <strong>Contact Numbers</strong>
      <ul class='wic'>
        <% @purchase_order.phones.each do | phone | %>
          <%= render phone %>
        <% end %>
      </ul>
      <div class="no-print toggler">
        <%=link_to 'Add', '', id: 'contact_detail_section_add_phone_link', class: 'add_fields no-print'%>
        <%= form_for(@new_phone, remote: true) do |f| %>
              <%= f.text_field :number, class: "contact_numbers" ,data: {autocomplete_source: phone_numbers_path} %>
              <%= f.hidden_field :contact_detail_type%>
              <%= f.hidden_field :contact_detail_id%>
              <%= f.submit "Add", id: 'add_contact_number_submit' %>
              <%= link_to 'Hide', '', id: "hide_new_purchase_order_number_link" %>
        <% end %>
      </div>
    </td>

    <td id="contact_persons" class="contact_persons wip">
      <strong>Contact Persons</strong>
      <ul class="wic">
        <% @purchase_order.purchase_order_contacts.each do | purchase_order_contact | %>
            <%= render purchase_order_contact %>
        <% end %>
      </ul>
        <div class="no-print toggler">
          <%=link_to 'Add', '', id: 'add_contact_person_link', class: 'add_fields no-print'%>
          <%= form_for(@new_purchase_order_contact, remote: true) do |f| %>
                <%= f.text_field :name, class: "contact_persons" ,data: {autocomplete_source: contact_names_path} %>
                <%= f.hidden_field :purchase_order_id%>
                <%= f.submit "Add", id: 'add_contact_person_submit' %>
                <%= link_to 'Hide', '', id: "hide_new_purchase_order_contact_link" %>
          <% end %>
        </div>
    </td>

  </tr>
</table>

</div>