<div id="po_details_header">

  <div class="span-8">
      <label> Purchase Order #<%=@purchase_order.po_id %> </label>
  </div>

  <div class="span-9">
      Status: <label class="<%=@purchase_order.status%>">
      <%=best_in_place @purchase_order, :status, type: :select, 
        collection: po_statuses, :ok_button => 'Save', :cancel_button => 'Cancel'%>
      </label>
  </div>

  <div class="span-5 last">
      <label><%= best_in_place @purchase_order, :po_date, :type => :date, 
          :display_as => :po_date_long_format%> </label>
  </div>


  <hr/>

  <div class="span-11 border">
    <label>Order To: <%= link_to @purchase_order.supplier, 
      summary_supplier_path(@purchase_order.supplier) %> </label>
  </div>

  <div class="span-11 last">
    <label>Order For: E.Estanislao General Merchandize </label>
  </div>

</div>
