<tr>
  <td class="item_name"><%=purchase_item.item.name%></td>
  <td class="item_quantity_column"><%=number_with_delimiter purchase_item.quantity%></td>
  <td><%=purchase_item.unit%></td>
  <td><%=number_with_delimiter purchase_item.price%></td>
  <td><%=number_with_delimiter purchase_item.total%></td>
  <td class="notes_column"><%=purchase_item.note%></td>
</tr>