<%=javascript_tag do %>

$(document).ready(function(){
    $('#item_list').dataTable( {
          bJQueryUI: true,
        iDisplayLength: 100,
        "sPaginationType": "full_numbers",
    } );
});

<% end %>

<h2 class="titleize">Items List</h1>

<%= will_paginate @items %>

<table id="item_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last PO Price</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_with_delimiter number_with_precision(item.last_pi.try(:price), precision: 2)%>
        </td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>

        <td>
          <% if item.last_po %>
            <%= link_to('View Last PO', purchase_order_path(item.last_po))  %>
          <% else %>
            <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }%> 
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @items %>

<br>

<%= link_to 'New Item', new_item_path %>
