<h1 class="title emphasize med_text indented">Suppliers</h1>

<table id="suppliers_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>PENDING PO</th>
      <th>CONFIRMED PO</th>
      <th>DELIVERED PO</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr class="<%=cycle('o','e')%>">
        <td><%= supplier.name %></td>
        <td><%= supplier.purchase_orders.try(:pending).try(:count)%></td>
        <td><%= supplier.purchase_orders.try(:confirmed).try(:count)%></td>
        <td><%= supplier.purchase_orders.try(:delivered).try(:count)%></td>
        <td><%= link_to 'Summary', summary_supplier_path(supplier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>