<%=javascript_tag do %>

$(document).ready(function(){
  $('#po_status').on('change', function(){
      var p = '<%=summary_supplier_path(@supplier)%>/' + $(this).val();
      Turbolinks.visit(p);
  });
});

<% end %>

<div id="supplier_summary">

<h2 class="titleize">
<span class="emphasize"><%= @supplier.name %></span>
</h2>

<div id='controls'>
<strong>PO Status:</strong>
 <%= select_tag(:po_status, options_for_select(['PENDING','CONFIRMED','DELIVERED','CANCELLED'], @po_status)) %> 
</div>



<%= render partial: "summary", locals: {purchase_orders:@purchase_orders, status: @po_status}%>

</div>
