<!DOCTYPE html>
<html>
<head>
  <title>EEGM</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body id="application_body">

<div id="user_nav" class="no-print">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
 </div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

 <div class="header">

    <%=image_tag "EEGM.png", class: "logo"%> 
    <%=image_tag "ESS.png", class: "logo"%> 

      <div class="float_right">
      #113 (old) J.P. Rizal St., Calumpang, Marikina City, Philippines 1801
      <span class="highlight">ENGSHOESUPPLY@GMAIL.COM</span>
      <span class="highlight">WWW.ENGSHOESUPPLY.COM</span>
      <span class="phone">Tel: 6453017</span>
      <span class="phone">Fax: 6452210</span>
      </div>
</div>

<%= yield %>

</body>
</html>
