<!DOCTYPE html>
<html>
<head>
  <title>EEGM</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>




</head>
<body id="application_body">

<%=javascript_tag do %>

$(document).ready(function(){
    application_init();
});

<% end %>

<div class="no-print session_info">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <!--%= link_to "Sign up", new_user_registration_path %-->
      <%= link_to "Login", new_user_session_path %>
    <% end %>
 </div>


 <div class="header">

    <%=image_tag "EEGM.png", class: "logo"%> 
    <%=image_tag "ESS.png", class: "logo"%> 

      <div class="float_right">
        #113 (old) J.P. Rizal St., Calumpang, Marikina City, Philippines 1801
        <span class="highlight">ENGSHOESUPPLY@GMAIL.COM</span>
      <div class="header_store_contact_details">
        <span>Mobile: 0999-197-2500, Tel: 6453017, Fax: 6452210</span>
      </div>

      </div>
</div>

<div id="navigation" class="no-print">
  <ul id="menu">
    <li>
      <%= link_to image_tag('back.png', size: '40x40'), :back, class: "back" %>
    </li>
    <li>
      <%= link_to 'Purchase Orders', purchase_orders_path%></a>
    </li>
    <li>
      <%= link_to 'Suppliers', suppliers_path%></a>
    </li>
    <li>
      <%= link_to 'Price List', purchase_items_path%>
    </li>
    <li>
      <%= link_to 'User Activities', activities_path%>
    </li>
  </ul>

</div>

<p id="notice"><%= notice %></p>

<% if alert %><p id="alert"><%= alert %></p><% end %>


<div id="content">

<div id="wait_message" class="hidden">
  
  <%=image_tag 'loading_bar.gif', size: "125x20"%>
</div>

<%= yield %>

</div>
</body>
</html>
