<!DOCTYPE html>
<html>
<head>
  <title>EEGM</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>

<body id="application_body" class="container">

  <%=javascript_tag do %>

  $(document).ready(function(){
      application_init();
  });

  <% end %>
  <div class="span-24">
    <div class="session_info span-23 no-print">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>.
        
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <!--%= link_to "Sign up", new_user_registration_path %-->
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

    <div id="header" class="span-24">
      <div class="span-17 logo">
        <%=image_tag "EEGM.png"%> 
        <%=image_tag "ESS.png"%> 
      </div>
    </div>
  </div>


<div id="navigation" class="no-print span-24">
  <ul id="menu">
    <li>
      <%= link_to 'Purchase Orders', purchase_orders_path%>
    </li>
    <li>
      <%= link_to 'Suppliers', suppliers_path%>
    </li>
    <li>
      <%= link_to 'Manage Items', items_path%>
    </li>
    <li>
      <%= link_to 'User Activities', activities_path%>
    </li>
  </ul>
</div>

<div class="span-24">
  <p id="notice"><%= notice %></p>
  <% if alert %><p id="alert"><%= alert %></p><% end %>
</div>

<div class="span-22 prepend-1">
    <div id="wait_message" class="hidden">
      <%=image_tag 'loading_bar.gif', size: "125x20"%>
    </div>

    <%= yield %>
</div>


</body>
</html>
